* {
    margin: 0;
    padding: 0;
}

.main-1 {
    counter-reset: count;
}

.title-2::before {
    counter-increment: count;
    content: "Section " counter(count) ": ";
}

.main-2 {
    counter-reset: count;
}

.section-2 {
    counter-reset: count;
}

.section-2::before {
    counter-increment: count;
    content: "Section " counter(count) ": ";
}

.section-3::before {
    counter-increment: count;
    content: "Section 1-" counter(count) ": ";
}

body {
    counter-reset: heading;
}

h2 {
    counter-increment: heading;
    counter-reset: heading-2;
}

h2::before {
    content: counter(heading) " - ";
}

h3 {
    counter-increment: heading-2;
}

h3::before {
    content: counter(heading) " - " counter(heading-2) " - ";
}
