* {
    margin: 0;
    padding: 0;
}

.box {
    width: 200px;
    height: 200px;
    margin: 50px auto 0;
    /* background: url("https://bennettfeely.com/clippy/pics/pittsburgh.jpg") */
    background: orange center / cover;
    /* border-radius: 50%; */
    /* clip-path: circle(); */
    /* clip-path: inset(10px 20px round 10px 20px); */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 80%, 0 100%);
}
